/* ==========================================================================
   Display utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

/* -------------------------------------------------------------------------- */

/**
 * Display-type utilities
 */

.#{$bits-utils-ns}u-inline {
  display: inline !important;
}

.#{$bits-utils-ns}u-inlineBlock {
  display: inline-block !important;
}

.#{$bits-utils-ns}u-block {
  display: block !important;
}

.#{$bits-utils-ns}u-table {
  display: table !important;
}

.#{$bits-utils-ns}u-tableCell {
  display: table-cell !important;
}